
main{
	padding-right: 5%;
}

.sectiune_joc_shop_grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 40px;
	grid-column-gap: 10px;
	grid-auto-rows: minmax(375px, auto);
}

.joc1 {
	color: #cc5200;
}

#primulh1{
	padding-bottom: 5%;
	text-align: center;
	font-size: large;
	color: #cc5200;
}

.joc1 > h2 {
	text-align: center;
}

.joc1 > p {
	padding-top: 5%;
	padding-bottom: 3%;
	font-size: 100%;
	text-align: center;
	color: black;
}

.joc1 > h3 {
	padding-left: 10%;
	padding-bottom: 2%;
}

.joc1 > ul {
	padding-left: 10%;
}

.joc1 > ul > li {
	padding-bottom: 1%;
	font-size: large;
}

.joc1 > a {
	margin-left: 42.5%;
}

.Buy {
	display: inline;
}

.galerie{
	width:100%;
	height:40vh;
	position:relative;
	overflow:hidden;
	margin-bottom:20px;
}

.galerie figcaption{
	position:absolute;
	bottom:0;
	background:rgba(255,255,255,0.7);
	width:100%;
	text-align:center;
}

.galerie figure{
	position:relative;
	width:100%;
	height:100%;
}

.galerieanimata figure{	
	position:absolute;
	left:0;
	top:0;
	animation-name:galanimata;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-duration:21s;	
	transform:scale(1,1);
	transform-origin:0px center;
}

.galerieanimata figure:nth-of-type(7){
	animation-delay:0s;
}

.galerieanimata figure:nth-of-type(6){
	animation-delay:3s;
}

.galerieanimata figure:nth-of-type(5){
	animation-delay:6s;
}

.galerieanimata figure:nth-of-type(4){
	animation-delay:9s;
}

.galerieanimata figure:nth-of-type(3){
	animation-delay:12s;
}

.galerieanimata figure:nth-of-type(2){
	animation-delay:15s;
}

.galerieanimata figure:nth-of-type(1){
	animation-delay:18s;
}

@keyframes galanimata{ 
	0% {z-index:10;opacity:1;}
	5% {opacity:1}
	13%{opacity:1} 
	14.28%{z-index:10;opacity:0}
	14.281%{z-index:-1;}
	85.71999999%{opacity:1;z-index:-1;}	
	85.72%{z-index:0;}
	100%{opacity:1;z-index:0;}
}

.pozedalea {
	height: 375px;
	width: 100%;
}

iframe {
	width: 100%;
	height: 34.8vh;
}

@media screen and (max-width: 1050px) and (min-width: 650px){
main {
	padding-left: 0%;
	padding-right: 2%;
}

.joc1 > ul > li {
	font-size: 0.5rem;
}

.sectiune_joc_shop_grid{
	grid-template-columns: 20% 40% 40%;
}

.joc1 > p {
	font-size: 0.7rem;
}

.joc1 > a {
	margin-left: 7vh;
}


}
@media screen and (max-width: 650px){
main {
	padding-left: 0%;
	padding-right: 0;
}
.joc1 > ul > li {
	font-size: 0.9rem;
}
.sectiune_joc_shop_grid{
	grid-auto-rows: minmax(1px, auto);
	grid-template-columns: auto;
}

.galerie{
	margin-bottom:0;
}
.joc1 > a {
	margin-left: 25vh;
}
.spatiu {
	padding: 5vh;
}

}
