  
* {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}

#logo-image{ 
    margin-top: 2px;
    margin-bottom: 2px;
    float: left;
    width: 5%;
    display: block; 
	padding-left: 10px;
}

.navbar {
    list-style-type: none;
    background: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 10px;
	align-items: center;
	padding-left: 7.5%;
}

.navbar li a {
    text-decoration: none;
    color: orange;
    padding: 0 15px;
}

.aliniat-la-stanga {
    display: flex;
	flex-direction: row;
    align-items: center;
	position: absolute;
	left: 15%;
}

.aliniat-la-stanga>li {
    float: left;
    padding-right: 50px;
    padding-top: 25px;
    display: block;
    text-align: center;
}

.aliniat-la-dreapta {
    display: flex;
    align-items: center;
	float: right;
	margin-right: 25%;
}

.navbar > .aliniat-la-stanga > li:nth-child(1) > a {
    font-size: 30px;
}

@media only screen and (max-width: 376px) {
    .navbar, .aliniat-la-stanga, .aliniat-la-dreapta {
        flex-direction: column !important;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background: black;
    min-width: 50%;
	cursor: pointer;
}

.dropdown-content span {
    color: orange;
    padding: 15px 10px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content > span:hover {
    color: black ;
}

.dropdown-span:hover {
    background: brown;
}