
		
		<footer>
			<div class="footer">
				<address>
					location
				</address>
				<span id="word-count" class="large">0</span>
				<a href="mailto:Fantasygg@gmail.com">
				Fantasygg@gmail.com
				</a>
			</div>
		</footer>