<!DOCTYPE html>
<html lang="en">

	<head>

		<title> Fantasy </title>
		<link type="text/css" rel="stylesheet" href="/css/dropdown.css">
		<link type="text/css" rel="stylesheet" href="/css/style.css">
		<link type="text/css" rel="stylesheet" href="/css/404.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8"> 
		<meta name="description" content="game sales">
		<meta name="keywords" content="Game, Sales, Cheap">
		<meta name="author" content="Mindruleanu Matei Daniel">
		<link rel="shortcut icon" href="/galery/favicon.ico" />

	</head>

	<body>
		<%- include("../fragmente/header") %>			
		<main>
			<h1 id="h1404"> 404 ERROR </h1>
			<h2 id="h2404"> Page Not Found </h2>
			<img src="https://media1.giphy.com/media/g01ZnwAUvutuK8GIQn/giphy.gif" alt="." id="img404">
		</main>
		<%- include("../fragmente/footer") %>
	</body>
</html>