<!DOCTYPE html>
<html lang="en">

	<head>

		<title> Fantasy </title>
		<link type="text/css" rel="stylesheet" href="/css/dropdown.css">
		<link type="text/css" rel="stylesheet" href="/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8"> 
		<meta name="description" content="game sales">
		<meta name="keywords" content="Game, Sales, Cheap">
		<meta name="author" content="Mindruleanu Matei Daniel">
		<link rel="shortcut icon" href="/galery/favicon.ico" />

	</head>

	<body>
		<%- include("../fragmente/header") %>			
		<main>
            <h1> 404 error </h1>
		</main>
		<%- include("../fragmente/footer") %>
	</body>
</html>