<!DOCTYPE html>
<html lang="en">


	<head>

		<title> Fantasy </title>
		<link type="text/css" rel="stylesheet" href="/css/dropdown.css">
		<link type="text/css" rel="stylesheet" href="/css/style.css">
		<link type="text/css" rel="stylesheet" href="/css/cart.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8"> 
		<meta name="description" content="game sales">
		<meta name="keywords" content="cart, table, checkout">
		<meta name="author" content="Mindruleanu Matei Daniel">
        <link rel="shortcut icon" href="/galery/favicon.ico" />
        
        <script src="js/cart.js"></script>

	</head>

	<body>
		<%- include("../fragmente/header") %>	
		<main>
		
			<div class="spatiu">
			</div>
		
		    <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Total Price</td>
						<td id="total_pret"></td>
                    </tr>
                </tfoot>
            </table>
        
            <section id="secbuysort">
                <button onclick="emptycart()" class='ButonSortare'> empty cart </button>
            </section>
		
		
		
		</main>
		<%- include("../fragmente/footer") %>
	</body>
</html>