<!DOCTYPE html>
<html lang="en">

	<head>

		<title> Fantasy </title>
		<link type="text/css" rel="stylesheet" href="/css/dropdown.css">
		<link type="text/css" rel="stylesheet" href="/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8"> 
		<meta name="description" content="game sales">
		<meta name="keywords" content="Game, Sales, Cheap">
		<meta name="author" content="Mindruleanu Matei Daniel">
		<link rel="shortcut icon" href="/galery/favicon.ico" />

		<script src="js/ejs.min.js"></script>             
		<script src="js/script.js"></script>

	</head>

	<body>
		<%- include("../fragmente/header") %>			
		<main>
			
		<section>
			<h1 id="h1index">Welcome to Fantasy!</h1>

			<p id="description"> <b> Fantasy.com </b> is a new digital marketplace which specializes in the sale of video games by redemption keys.
			<br> 
			The main product offering on <b> Fantasy.com </b> is game key codes to such platforms as Steam, Origin and Xbox.
			</p>

		</section>
		
		<section class="trending">
            <h2 class="ttrending">
			    Trending
			</h2>
			<p id="trendingdesc">
			    What people are interested in right now.
			</p>

			<div>
				<ul id="afisTemplate" class="lista" style="list-style-type:none;">
				</ul>
			</div>
        </section>
		
		
		<section class="Specials">
            <h2 class="ttrending">
			    Specials
			</h2>
			<p>
			    Highest sales
			</p>

			<div>
				<ul id="afisTemplateSpecials" class="lista" style="list-style-type:none;">
				</ul>
			</div>
			
		</section>
		

		
		<section class="nicinustiu">
			<h3>You can find more items in <a href="/Store">Store</a> .</h3>
		</section>

		</main>
		<%- include("../fragmente/footer") %>
	</body>
</html>